<VirtualHost *:80>
    ServerName files.domaine.local
    DocumentRoot /var/www/filegator
    <Directory /var/www/filegator>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
